p {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p:first-of-type {
  color: yellow;
  font-size: 30px;
  margin-bottom: 5px;
}

p:nth-of-type(2) {
  color: red;
  margin-top: 5px;
}
